@forward "./StyleGuide/Variables.scss";
@forward "./StyleGuide/BoxStyling.scss";
@forward "./StyleGuide/BoxStyling";
@forward "./StyleGuide/Breakpoint";
@forward "./StyleGuide/Layout";
@forward "./StyleGuide/Active";


@mixin flex($justify : center , $align: center , $gap: 0 , $direction : row) {

    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-direction: $direction;
    
}